<html>
<head>
    <title>APP</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    
</head>
<body>
<div class="container">

    <div class="col-sm-16">
        <h1><span class="fa fa-edit"></span> Profile Page</h1>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
            <div class="thumbnail thumbnail-circle"><img  src="../img/user.png" alt="Profile pic"/></div>
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p>
                        <strong>id</strong>: {{{user.username}}}<br>
                        <strong>Name</strong>:{{user.name}}</br>
                        <strong>Email</strong>: {{user.email}}<br>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>